.container {
    height: 450px;
    background-color: var(--bgSoftadmin);
    padding: 20px;
    border-radius: 10px;
  }
  
  .title{
    font-weight: 200;
    color: var(--textSoftadmin);
    margin-bottom: 20px;
  }